# Ignore all per-module Maven “mods-mvn” outputs
**/mods-mvn/

# Ignore all Maven/Gradle target/build output
**/target/
**/build/

# Ignore any compiled JARs
**/*.jar

# (Optional) But if you have a /plugins folder whose JARs you DO want to keep,
# you can un-ignore it:
!plugins/
!plugins/*.jar

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xm